.idea
__pycache__
venv
.venv
.*-venv
*.pyc
*.blend*
*.code-workspace
.env
releases
tests/extra_test_files
tests/test_files/unreal_projects
src/addons/character_dna/resources/packages
src/addons/character_dna/bindings/windows
src/addons/character_dna/bindings/linux
src/addons/character_dna/bindings/macos
scratches
reports
release
build
temp
coverage.xml
.coverage
.github/instructions
.github/skills
AGENT_INSTRUCTIONS.md
