.idea
__pycache__
venv
.venv
.*-venv
*.pyc
*.blend*
.env

tests/extra_test_files
tests/test_files/unreal_projects
src/addons/meta_human_dna/resources/packages
src/addons/meta_human_dna/bindings/windows
src/addons/meta_human_dna/bindings/linux
src/addons/meta_human_dna/bindings/mac
scratches
reports
release
build
temp
coverage.xml
.coverage
.github/instructions